/* .img-mag {
  border-radius: 1.2rem;
} */
/* .contest-title {
  margin-top: 0.3rem;
  color: RGB(247, 201, 71);
  font-size: 1.2rem;
} */

.details-box {
  margin-top: -1.5rem;
  display: flex;
  padding: auto;
  justify-content: center;
  align-items: center;
}

.box-class-image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 70vh;

  /* width: 40vw; */
}
.answer-box {
  margin-left: 2rem;
}

.nav-bar-participents {
  background-color: RGB(255, 237, 199);
  display: block;
  height: 30px;
  width: 95%;
  margin: 1rem;
  /* margin-bottom: 1rem; */
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
